<main>
    <div class="main-container">
        <div class="post-chapter">
            TimeLine
        </div>
        <div class="post-list">
            <% var posts = site.posts.sort('date', 'desc'); %>
            <% posts.forEach(post => { %>
                <div class="post-item">
                    <span class="post-item-key">[ <%- post.key %> ]</span>
                    <span class="post-item-date"><%= date(post.date, 'YYYY/MM/DD') %></span>
                    <a href="<%- url_for(post.path) %>">
                        <span class="post-item-title"><%- post.title %></span>
                    </a>
                    <div class="post-item-abstract"><%- post.abstract %></div>
                </div>
            <% }) %>
        </div>
    </div>
</main>
