<main>
    <div class="main-container">
        <div class="pinned-title">
            Pinned
        </div>
        <div class="pinned-list">
            <% var posts = site.posts.sort('date', 'desc'); %>
            <% posts.forEach(post => { %>
                <% if (post.pinned) { %>
                    <div class="pinned-item">
                        <a href="<%- url_for(post.path) %>"><span class="pinned-item-date"><%= date(post.date, 'YYYY/MM/DD') %></span> <%- post.title %></a>
                    </div>
                <% } %>
            <% }) %>
        </div>
        <div class="post-title">
            TimeLine
        </div>
        <div class="post-list">
            <% var posts = site.posts.sort('date', 'desc'); %>
            <% posts.forEach(post => { %>
                <% if (!post.pinned) { %>
                    <div class="post-item">
                        <a href="<%- url_for(post.path) %>"><span class="post-item-date"><%= date(post.date, 'YYYY/MM/DD') %></span> <%- post.title %></a>
                    </div>
                <% } %>
            <% }) %>
        </div>
    </div>
</main>
