<footer>
    <div class="footer-container">
        <div class="footer-meta">
            <% if (theme.copyright) { %>
                <div class="footer-meta-copyright">
                    Copyright &copy; <%= date(new Date(), 'YYYY') %> <%= theme.copyright.name || config.author %>.
                </div>
            <% } %>
            <div class="footer-meta-symbols-count">
                Words count: <%- symbolsCountTotal(site) %>.
            </div>
            <!--
            <% if (theme.license) { %>
                <div class="footer-meta-licenese">
                    Licensed under <a href="<%- url_for(theme.license.url) %>"><%= theme.license.name %></a>
                </div>
            <% } %>
            -->
        </div>
    </div>
    <script>
        function applyNightMode() {
          const isNightMode = window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches;
          if (isNightMode) {
            document.body.classList.add('night-mode');
          } else {
            document.body.classList.remove('night-mode');
          }
        }
      
        applyNightMode();
        window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', applyNightMode);
      </script>      
</footer>
