<footer>
    <div class="footer-container">
        <div class="footer-meta">
            <% if (theme.copyright) { %>
                <div class="footer-meta-copyright">
                    Copyright &copy; <%= date(new Date(), 'YYYY') %> <%= theme.copyright.name || config.author %>.
                </div>
            <% } %>
            <div class="footer-meta-symbols-count">
                All words count: <%- symbolsCountTotal(site) %>.
            </div>
            <!--
            <% if (theme.license) { %>
                <div class="footer-meta-licenese">
                    Licensed under <a href="<%- url_for(theme.license.url) %>"><%= theme.license.name %></a>
                </div>
            <% } %>
            -->
        </div>
    </div>
</footer>
