<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="<%= url_for(theme.favicon) %>" type="image/x-icon" />

    <title>
        <% if (page.title) { %>
            <%= page.title %> |
        <% } %>
        <%= config.title %>
    </title>
    <%- css('css/style') %>

    <%- partial('partial/scripts/analytics.ejs') %>
    <meta http-equiv="Cache-Control" content="max-age=31536000">
</head>
