<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <link rel="shortcut icon" href="<%= url_for(theme.favicon) %>" type="image/x-icon" />
    <link rel="preconnect" href="https://fonts.loli.net">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.loli.net/css2?family=DotGothic16&display=swap" rel="stylesheet">
    <title>
        <% if (page.title) { %>
            <%= page.title %> |
        <% } %> 
        <%= config.title %>
    </title>
    <%- css('css/style') %>
    <%- css('css/font') %>
    <%- partial('partial/scripts/analytics.ejs') %>
</head>
