<header>
    <div class="header-container">
        <div class="header-menu">
            <div class="header-menu-inside">
                <% for(let i in theme.home) { %>
                    <div class="header-menu-home"><a href="<%- url_for(theme.home[i]) %>"><%= i %></a></div>
                <% } %>
                <% for(let j in theme.links) { %>
                    <div class="header-menu-links"><a href="<%- url_for(theme.links[j]) %>"><%= j %></a></div>
                <% } %>
                <% for(let k in theme.about) { %>
                    <div class="header-menu-about"><a href="<%- url_for(theme.about[k]) %>"><%= k %></a></div>
                <% } %>
            </div>
        </div>
    </div>
    <hr>
</header>
